<article class="card post-card">
    <div class="row no-gutters align-items-center">
        {{if .Params.image}}
        <div class="col-lg-6">
            <div class="pr-0 pr-lg-5">
                <a href="{{.Permalink}}">
                  <img loading="lazy" class="w-100 rounded" src="{{ .Params.image | absURL}}" alt="{{.Title}}">
                </a>
            </div>
        </div>
        <div class="col-lg-6">
        {{else}}
        <div class="col-lg-12">
        {{end}}
  <div class="card-body">
    <ul class="card-meta list-inline mb-2">
      <li class="list-inline-item mb-2">
        {{ with site.GetPage (.Params.Author | urlize | lower) }}
        <a href="{{ "about" | absURL }}" class="card-meta-author">
          {{if .Params.image}}
          <img loading="lazy" src="{{.Params.image | absURL}}" alt="{{.Title}}">
          {{else}}
          <img loading="lazy" src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=150&pg&d=identicon">
          {{end}}
          <span>{{ .Title }}</span>
        </a>
        {{ end }}
      </li>
      <li class="list-inline-item mb-2">
        <span>{{.PublishDate.Format "02 Jan, 2006"}}</span>
      </li>
      <li class="list-inline-item mb-2">
        <ul class="card-meta-tag list-inline">
            <!-- {{range .Params.tags}}
                 <li class="list-inline-item"><a href="{{site.BaseURL}}tags/{{.| urlize}}">{{.}}</a></li>
                 {{end}} -->
            {{range .Params.categories }}
            <li class="list-inline-item"><a href="{{site.BaseURL}}categories/{{.| urlize}}">{{.}}</a></li>
            {{end}}
        </ul>
      </li>
    </ul>
    <h3 class="mb-3">
      <a class="post-title" href="{{.Permalink}}">{{.Title}}</a>
    </h3>
    {{ if (eq .Params.description "") }}
    <p>{{ .Plain | truncate 150 }}</p>
    {{ else }}
    <p>{{ .Params.description | truncate 150 | markdownify }}</p>
    {{ end }}

    <!-- <a href="{{.Permalink}}" aria-label="More on {{.Title}}">Read More <i class="las la-angle-right"></i></a> -->
  </div>
        </div>
    </div>
</article>
